@font-face {
  font-family: "Corsa Grotesk";
  font-weight: 400;
  src: url("@/assets/fonts/Corsa Grotesk/Corsa Grotesk Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Corsa Grotesk";
  font-weight: 700;
  src: url("@/assets/fonts/Corsa Grotesk/Corsa Grotesk Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Corsa Grotesk";
  font-weight: 700;
  font-style: italic;
  src: url("@/assets/fonts/Corsa Grotesk/Corsa Grotesk Bold Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Roxborough";
  font-weight: 400;
  src: url("@/assets/fonts/Roxborough/RoxboroughCF-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Roxborough";
  font-weight: 400;
  font-style: italic;
  src: url("@/assets/fonts/Roxborough/RoxboroughCF-RegularItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "Roxborough";
  font-weight: 800;
  src: url("@/assets/fonts/Roxborough/RoxboroughCF-ExtraBold.otf")
    format("opentype");
}
@font-face {
  font-family: "Roxborough";
  font-weight: 800;
  font-style: italic;
  src: url("@/assets/fonts/Roxborough/RoxboroughCF-ExtraBoldItalic.otf")
    format("opentype");
}
