@import "base/typography";
@import "base/variables";

.m-outline-white {
  outline: 1px solid #fff;
}
.m-outline-black {
  outline: 1px solid #000;
}

html {
  font-family: "Corsa Grotesk", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.roxoborough-bold {
  font-family: "Roxoborough";
  font-weight: 800;
  font-style: italic;
}
